<%- include layouts/header.ejs %>
    <div class="container">
      <div class="row">
        <% for(var i = 0; i<libros.length; i++){ %>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%=libros[i].titulo %></h5>
                <p class="card-text"><%=libros[i].descripcion %></p>
                <p> Precio: <%=libros[i].precio %></p>
                <img src="<%=libros[i].imagen %>" height="150" width="400">
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
<%- include layouts/footer.ejs %>
